* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: darkgray;
}

.big-container {
    width: 90vw;
    margin: 0 auto;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.btn{
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #0d6ffc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.accordion-content {
    max-width: 28vw;
    margin-top: 2.5rem;
    padding: 1rem;
    border: 2px solid grey;
    border-radius: 5px;
}

h2{
    margin-bottom: 0.5rem;
}

p{
    font-size: 0.8rem;
    line-height: 1.5;
}

.btn:hover{
    background-color:#fcad03;
    transition: 0.3s;
}

.btn.active {
    background-color:#fcad03;
}

